<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.sportti.app">
    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sportti">
        <activity
            android:name=".ui.activities.MapActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.activities.SaveExerciseActivity"
            android:exported="false"
            android:label="@string/save_exercise" />
        <activity
            android:name=".ui.activities.StartExerciseActivity"
            android:launchMode="singleTop"
            android:exported="false"
            android:theme="@style/HiddenTitleTheme.Sportti" />
        <activity
            android:name=".ui.activities.ExerciseDetailsActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.HistoryActivity" />
        <activity
            android:name=".ui.activities.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.NewManualExerciseActivity"
            android:label="@string/new_exercise"
            android:parentActivityName=".ui.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.NewRecordedExerciseActivity"
            android:label="@string/new_exercise"
            android:parentActivityName=".ui.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <!--MainActivity is landing page when you open application-->
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".location.LocationTracking" android:foregroundServiceType="location" />
    </application>

</manifest>